include LICENSE
include README.rst
include tox.ini
include Makefile
include .coveragerc
include CHANGELOG
include screenshot.png
recursive-include templateselector *.css
recursive-include templateselector *.png
global-include *.rst *.py *.html *.css
